/* --------------- */
/* Seção de Locais */
/* --------------- */

.locais {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;

}

.titulo-secao {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo-secao h2 {
    font-size: 2.5rem;
    color: var(--cor-subsecundaria);
}

.container-cards {
    display: flex;
    justify-content: center; 
    gap: 50px; 
    flex-wrap: wrap; 
}

.card {
    background-color: white;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-bottom: 5px solid transparent;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    border-bottom: 5px solid var(--cor-secundaria);
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 25px;
}

.card-info h3 {
    color: var(--cor-subprimaria);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.card-info p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-card {
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 0.9rem;
    border: 2px solid var(--cor-primaria);
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-card:hover {
    background-color: var(--cor-primaria);
    color: white;
}

/* --------------------- */
/* Responsividade Locais */
/* --------------------- */

@media (max-width: 768px) {

    .locais {
        height: auto;
        padding: 50px 20px;
    }

    .container-cards {
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {

    .titulo-secao h2 {
        font-size: 1.8rem;
    }

    .card-info {
        padding: 20px;
    }
}